.author {
  display: flex;
  flex-direction: column;
  margin: 1.6em 0 0;
  padding: 30px;
  text-align: center;
  max-width: 860px;
  margin: 0 auto;

  @media (min-width: 551px) {
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__img {
    flex: 0 0 80px;
    border-radius: 100%;

    & > img {
      margin-bottom: 12px;
      width: 100px;
      height: 100px;
      border: 5px solid #fff;
    }
  }

  &__meta {
    flex: 0 1 auto;

    @media (min-width: 551px) {
      margin-left: 20px;
    }

    p {
      margin: 10px 0 0 0;
      font-size: 14px;
    }
  }

  &__name {
    font-family: "Roboto Slab", serif;
    margin-top: 2.5px;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
  }

  &__me-links {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & > li {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__me-link {
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 3px;
    width: 32px;
    font-size: 1.6em;
    text-align: center;
    margin: 20px 0 0;

    transition: .15s background-color ease-in-out;

    &:hover {
      background-color: #369;
    }

    &--so:hover {
      background-color: #f48024;
    }

    &--fb:hover {
      background-color: #3b5998;
    }

    &--li:hover {
      background-color: #0077b5;
    }

    &--tw:hover {
      background-color: #4099ff;
    }

    &--gh:hover {
      background-color: #6e5494;
    }
  }
}
