.header {
  @media (min-width: 800px) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  background: #ececec;
  border-bottom: 1px solid #e7e7e7;
  padding: 16px 24px;

  &__logo {
    height: 16px;
    padding: 12px 0;
    display: block;
  }

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }
}
