.read-more-button {
  margin-bottom: 1.5em;
  display: inline-block;
  background: #ff6e40;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
  font-family: Roboto Slab;
  padding: 0 16px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(black, .3);
}
