#disqus_thread
javascript:
  (function() {
    var loaded = false

    function loadDisqus() {
      var d = document, s = d.createElement('script');
      s.src = 'https://francesco-boffa.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      s.async = true;
      (d.head || d.body).appendChild(s);
      loaded = true;
    }

    window.onscroll = function() {
      if (!loaded && window.pageYOffset > document.body.offsetHeight / 3)
        loadDisqus()
    }

    if (location.hash === '#disqus_thread')
      loadDisqus()
  })()
