javascript:
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-101170237-1', 'auto');
  ga('send', 'pageview');

= javascript_include_tag 'https://www.google-analytics.com/analytics.js', async: true
